[submodule "vendors/mailcore2"]
	path = vendors/mailcore2
	url = https://github.com/MailCore/mailcore2.git
[submodule "vendors/CocoaSyslog"]
	path = vendors/CocoaSyslog
url=git@github.com:ygini/CocoaSyslog.git
[submodule "vendors/OnOffSwitchControl"]
	path = vendors/OnOffSwitchControl
	url = https://github.com/mipmip/OnOffSwitchControl.git
[submodule "vendors/GHUpdate"]
	path = vendors/GHUpdate
	url = git@github.com:ygini/GHUpdate.git
